server/.idea/
client/node_modules/
server/storage/
server/snapshots/
server/.qdrant-initialized
server/assets/qdrant_data/
server/assets/logs/
server/.env
client/.vscode
*.env
.idea/
server/.venv/
server/.vscode/
client/.vscode
.cursor/
server/.cursor/
client/.cursor/
*__pycache__/
config.bat
node_modules
